<%- include("partials/header.ejs") %>
<main class="container">
<h2>Add Book Details you have read.</h2>
<form class="form-label" action="/addnew" method="post">
    <label for="title" value="title">Title: </label><br>
    <input type="text" name="title" id="title" size="50"><br><br>
    <label for="rating" value="rating">Rating: </label><br>
    <input type="number" name="rating" id="rating" min="1" max="10"><br><br>
    <label for="note" value="note">Notes/Summary: </label><br>
    <input class="textbox" type="text" name="note" id="note"><br><br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
</form>
</main>
<%- include("partials/footer.ejs") %>