<%- include("partials/header.ejs") %>
<main class="container">
    <h1>Books I Have Read.</h1>
      <form action="/add" method="post">
        <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">ADD Book</button>
            </div>
          </div>
      </form>
    <h2>Here are some books i have read. </h2>
</main>





<%- include("partials/footer.ejs") %>