/* Head Section */
h1{
    color: #4E9F3D;
}
.heading{
    color:darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Main Section */
.del_btn{
    background-color: red;
}
.edit_btn{
    background-color: green;
}
.booktitle{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    
}

/* Foot Section */
.foot{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    color:#4E9F3D;
}
/* Combined All */
body{
    background-color: black;
}
hr{
    color: aliceblue;
}
p{
    color: #D8E9A8;
}
.textbox{
    width:100%;
    height:200px;
}
.form-label{
    color:#D8E9A8;
}

/* colors */
/* 191A19 */
/* 1E5128 */
/* 4E9F3D */
/* D8E9A8 */




